@page "/"
@using EnergyInsight.Services
@using HtmlAgilityPack
@using System.Text.RegularExpressions
@rendermode InteractiveServer

<PageTitle>News</PageTitle>

<h1>Latest News</h1>

<button class="btn btn-primary" @onclick="GetNews">Get News</button>

@if (articles != null)
{
    <ul>
        @foreach (var article in articles)
        {
            <li class="mb-3">
                <h2><a href="@article.link" target="_blank">@article.title</a></h2>
                @if (!string.IsNullOrWhiteSpace(article.description))
                {
                    <p>@article.description</p>
                }
                @if (!string.IsNullOrWhiteSpace(article.image_url))
                {
                    <img src="@article.image_url" alt="@article.title" class="img-thumbnail" style="max-width: 300px;" />
                }
                <p><small>Published at: @article.pubDate</small></p>
            </li>
        }
    </ul>


    <p>@data </p>
}
else if (isLoading)
{
    <p>Loading news...</p>
}
else if (error != null)
{
    <p>Error loading news: @error</p>
}

@code {
    private Result[] articles;
    private bool isLoading;
    private string error;
    private string data = string.Empty;

    [Inject]
    private NewsAPIService NewsApiService { get; set; }


    private async Task GetNews()
    {
        isLoading = true;
        error = null;

        try
        {

            var response = await NewsApiService.DoSearch("Energy Sector Europe");


            articles = response?.results;

            foreach (var article in articles)
            {
                HtmlWeb web = new HtmlWeb();
                HtmlDocument document = web.Load(article.link);

                // Extract text from all nodes
                var text = document.DocumentNode.InnerText;
                var cleanedText = CleanText(text);
                data += cleanedText;
            }

        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
        finally
        {
            isLoading = false;
        }
    }

    private string CleanText(string text)
    {
        // Replace multiple spaces, new lines, and tabs with a single space
        string cleanedText = Regex.Replace(text, @"\s+", " ");
        return cleanedText.Trim();
    }
}
